.yzb {
    // ================================
    // Collapse
    // ================================
    .collapse {
        margin-top: 24px;
        .el-collapse {
            background: #F1F2F3;
            border: none;
            box-shadow: 0 1px 4px 0 rgba(65, 86, 105, 0.20);
            .second {
                .el-collapse-item {
                    .el-collapse-item__header {
                        background: #F9FAFC;
                        padding-left: 30px;
                    }
                }
                .el-collapse-item__wrap {
                    .el-collapse-item__content {
                        div {
                            height: 43px;
                            line-height: 43px;
                            background: #F1F2F3;
                            border-bottom: 1px solid rgb(223, 236, 234);
                            padding-left: 50px;
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            .el-collapse-item__wrap {
                .el-collapse-item__content {
                    padding: 0;
                }
            }
        }
    }
    // ================================
    // button
    // ================================
    .el-button--primary {
        padding: 0 14px;
        line-height: 30px;
        border-radius: 2px;
    }
    .el-button--large {
        width: 130px;
        height: 52px;
        font-size: 18px;
        &.button-cancle {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 2px;
            color: #333;
            &:hover {
                opacity: .7;
            }
        }
    }
    // ================================
    // crumbs
    // ================================
    .crumbs {
        .el-breadcrumb {
            .el-breadcrumb__item {
                .el-breadcrumb__item__inner {
                    font-weight: 400;
                    font-size: 14px;
                    color: #999;
                    &:hover {
                        color: #3FCB9A;
                    }
                }
                .el-breadcrumb__separator {
                    margin: 0 14px;
                    font-size: 14px;
                    color: #979797;
                }
                &:last-child {
                    .el-breadcrumb__item__inner {
                        color: #333;
                    }
                }
            }
        }
    }
    // ================================
    // table
    // ================================
    .table {
        .el-table {
            background: #F1F2F3;
            .el-table__header-wrapper {
                .el-table__header {
                    thead {
                        tr {
                            background: transparent;
                            th {
                                background: transparent;
                                .cell {
                                    background: transparent;
                                    padding-left: 0;
                                    padding-right: 10px;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #333;
                                    font-weight: normal;
                                }
                            }
                            &:nth-of-type(1) {
                                th {
                                    .cell {
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .el-table__body-wrapper {
                .el-table__body {
                    tbody {
                        tr {
                            background-color: #FFFFFF;
                            td {
                                .cell {
                                    padding: 8px 10px 8px 20px;
                                    font-size: 12px;
                                    color: #666;
                                    line-height: 18px;
                                    p {
                                        &.nowrap {
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #topicDynamic {
        .el-table {
            background: #F1F2F3;
            border: none;
            box-shadow: 0 1px 4px 0 rgba(65, 86, 105, 0.20);
            .el-table__header-wrapper {
                .el-table__header {
                    thead {
                        tr {
                            background: transparent;
                            th {
                                background: transparent;
                                border: none;
                                .cell {
                                    background: transparent;
                                    padding-left: 0;
                                    padding-right: 10px;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #333;
                                    font-weight: normal;
                                }
                            }
                            &:nth-of-type(1) {
                                th {
                                    .cell {
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .el-table__body-wrapper {
                .el-table__body {
                    tbody {
                        tr {
                            td {
                                border: none;
                                .cell {
                                    padding: 20px 10px 20px 20px;
                                    font-size: 12px;
                                    color: #666;
                                    line-height: 18px;
                                    p {
                                        &.nowrap {
                                            white-space: nowrap;
                                        }
                                    }
                                    img {
                                        // height: 62px;
                                        display: inline-block;
                                    }
                                    .el-checkbox__inner {
                                        border-radius: 0;
                                        height: 20px;
                                        width: 20px;
                                        border: 2px solid #E5E5E5;
                                    }
                                    .el-checkbox__input {
                                        &.is-checked {
                                            .el-checkbox__inner {
                                                border: 2px solid #3FCB9A;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #carTable {
        margin-top: 42px!important;
        .el-table {
            border: none;
            box-shadow: 0 1px 4px 0 rgba(65, 86, 105, 0.20);
            .el-table__body-wrapper {
                .el-table__body {
                    tbody {
                        tr {
                            td {
                                .cell {
                                    padding: 21px 10px 21px 20px;
                                    .el-button+ {
                                        .el-button {
                                            margin-left: 0;
                                            margin-right: 20px;
                                        }
                                    }
                                    .el-button {
                                        &:nth-child(1) {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // ================================
    // formation
    // ================================
    .formation {
        .el-form {
            margin-top: 13px;
            .el-form-item {
                margin-bottom: 20px;
                .el-form-item__label {
                    width: 180px !important;
                    font-size: 12px;
                    color: #666;
                    line-height: 40px;
                    padding: 0 20px 0 0;
                }
                .el-form-item__content {
                    .el-form-item__error {
                        left: 100px;
                    }
                    .el-input {
                        width: 180px;
                        .el-input__inner {
                            height: 40px;
                            font-size: 12px;
                            color: #333;
                            background: #FFFFFF;
                            border: 1px solid #E5E5E5;
                            border-radius: 2px;
                            &:hover {
                                border-color: rgb(131, 165, 162);
                            }
                            &:focus {
                                outline: 0;
                                border-color: #18c79c;
                            }
                            &::placeholder,
                            &::-webkit-input-placeholder {
                                color: rgba(51, 51, 51, .3);
                            }
                        }
                    }
                    .tip {
                        font-size: 12px;
                        color: #333;
                    }
                    .el-radio-group {
                        .el-radio-button {
                            .el-radio-button__inner {
                                height: 40px;
                                line-height: 40px;
                                padding: 0 15px;
                                font-size: 12px;
                            }
                        }
                    }
                    .el-cascader {
                        .el-input {
                            .el-input__inner {
                                background: transparent;
                            }
                        }
                        .el-cascader__label {
                            height: 40px;
                            font-size: 12px;
                            color: #333;
                            line-height: 40px;
                        }
                    }
                    .upload-demo {
                        padding-left: 100px;
                        .el-upload__tip {
                            display: inline-block;
                            margin: 0 0 0 20px;
                        }
                        .el-upload-list--picture {
                            width: 500px;
                        }
                    }
                }
            }
            .button-box {
                margin-left: 180px;
                padding: 25px 0;
                font-size: 0;
                .el-button {
                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    // ================================
    // upload image
    // ================================
    .upload-demo {
        .el-upload-list--picture {
            .el-upload-list__item-thumbnail {
                width: 120px;
                height: 65px;
            }
            .el-upload-list__item {
                width: 460px;
                height: 84px;
            }
        }
        .el-upload__tip {
            color: #999999;
        }
    }
    // ================================
    // search
    // ================================
    .search {
        padding: 16px 0 20px 0;
        .el-form--inline {
            float: left;
            .el-form-item {
                margin: 0 30px 0 0;
                .el-form-item__label {
                    margin-right: 8px;
                    padding: 0;
                    font-size: 12px;
                    color: #666;
                    line-height: 32px;
                }
                .el-form-item__content {
                    font-size: 0;
                    line-height: 0;
                    .el-input {
                        width: auto;
                        font-size: 12px;
                        .el-input__inner {
                            width: 110px;
                            height: 32px;
                            background: #FFFFFF;
                            border: 1px solid #E5E5E5;
                            border-radius: 2px;
                            &:hover {
                                border-color: rgb(131, 165, 162);
                            }
                            &:focus {
                                outline: 0;
                                border-color: #18c79c;
                            }
                            &::placeholder,
                            &::-webkit-input-placeholder {
                                color: rgba(51, 51, 51, .3);
                            }
                        }
                    }
                }
            }
        }
        .btn-add {
            font-weight: 300;
            width: 99px;
            float: right;
            background: #F8BE3E;
            border-color: #F8BE3E;
        }
        .addNum {
            float: right;
            height: 32px;
            line-height: 32px;
            margin-right: 10px;
            color: #666666;
        }
    }
    // ================================
    // pagination
    // ================================
    .el-pagination {
        padding: 40px 0;
        text-align: center;
        .el-pagination__total {
            font-size: 12px;
            color: #999;
            line-height: 32px;
        }
        .btn-prev,
        .btn-next,
        .el-pager li {
            min-width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #E5E5E5;
            font-size: 12px;
            color: #666;
        }
        .btn-prev {
            border-right: 0;
        }
        .btn-next {
            border-left: 0;
        }
        .el-pager {
            li {
                border-right: 0;
                font-size: 12px;
                color: #666;
                &:last-child {
                    border-right: 1px solid #E5E5E5;
                }
                &.active {
                    color: #FFF;
                    border-color: #18c79c;
                }
            }
        }
        .el-pagination__jump {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: #999;
            .el-pagination__editor {
                border: 1px solid #E5E5E5;
                font-size: 12px;
                color: #666;
                &:focus {
                    outline: 0;
                    border-color: #18c79c;
                }
            }
        }
    }
}

// ================================
// messageBox
// ================================
.el-message-box {
    width: 560px;
    height: 220px;
    .el-message-box__header {
        .el-message-box__title {
            font-size: 18px;
            font-weight: 400;
        }
        .el-message-box__close {
            width: 18px;
            height: 18px;
        }
    }
    .el-message-box__content {
        .el-message-box__message {
            p {
                color: #666;
            }
        }
    }
    .el-message-box__btns {
        .el-button--default {
            width: 84px;
            height: 40px;
            span {
                font-size: 16px;
            }
            &:nth-of-type(1) {
                border: 1px solid #E5E5E5;
            }
        }
    }
}

// ================================
// messageBox
// ================================
.carAddPate,
.carAddChildPate,
.carAddYear,
.carAddCon,
.uploadLogo {
    .el-dialog__wrapper {
        .el-dialog {
            &.el-dialog--tiny {
                width: 560px;
                height: 260px;
            }
            .el-dialog__body {
                .el-form-item__label {
                    width: 121px!important;
                }
                .el-form-item__content {
                    .el-form-item__error {
                        left: 120px;
                    }
                }
                .el-input {
                    width: 180px;
                    .el-input__inner {
                        border: 1px solid #E5E5E5;
                    }
                }
            }
        }
        .el-dialog__footer {
            padding: 20px 40px 30px 80px;
            .el-button {
                padding: 0 25px;
                line-height: 40px;
                border-radius: 2px;
                font-size: 16px;
                &.button-cancle {
                    background: #FFFFFF;
                    border: 1px solid #E5E5E5;
                    border-radius: 2px;
                    color: #333;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

.carAddChildPate {
    .el-dialog__wrapper {
        .el-dialog {
            &.el-dialog--tiny {
                height: 317px;
            }
        }
    }
}

.carAddYear {
    .el-dialog__wrapper {
        .el-dialog {
            &.el-dialog--tiny {
                height: 374px;
            }
        }
    }
}

.carAddCon {
    .el-dialog__wrapper {
        .el-dialog {
            &.el-dialog--tiny {
                height: 427px;
            }
        }
    }
}

.uploadLogo {
    .el-dialog__wrapper {
        .el-dialog {
            &.el-dialog--tiny {
                height: auto;
            }
            .upload-demo {
                .el-upload__tip {
                    width: 200px;
                    float: right;
                    margin-top: 0;
                    margin-right: 100px;
                }
                .el-upload-list__item {
                    width: 350px;
                    margin-left: 120px;
                }
            }
        }
    }
}